:root {
  --primary-color: #1ed760;
  --secondary-color: #1f1f1f;
  --dark: #121212;
  --text-white: #e5e5e5;
}

html {
  height: 100vh;
  background-color: var(--dark);
}

body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

nav a {
  font-family: "Open Sans";
  color: var(--text-white);

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}

h1,h2,h3,h4 {
  color: var(--text-white);
  font-family: "Noto Sans JP";
  font-weight: 600;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

p {
  color: var(--text-white);
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @media (min-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navbar {
  background: var(--secondary-color);
  padding: 1.5rem 0;

  .navbar-brand {
    display: inline-block;
  }

  .navbar-menu {
    float: right;
  }

  h1 {
    font-size: 1rem;
    margin: 0;
  }
}

.weather-description {
  background-color: var(--secondary-color);
  padding: 2rem;
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  color: white;
  place-items: center;
  border-radius: 8px;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    display: grid;
  }

  img {
    justify-self: end;
  }

  h2 {
    line-height: 1.3;
    margin: 0;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.about {
  padding-top: 3rem;
}

.license-agreement {
  margin-top: 2rem;
  margin-bottom: 1rem;
}