:root {
  --primary-color: #1ed760;
  --secondary-color: #1f1f1f;
  --dark: #121212;
}

html {
  height: 100vh;
  background-color: var(--dark);
}

body {
  // font-family: "Open Sans";
  font-family: "Noto Sans JP";
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

h1,h2,h3,h4 {
  color: #e5e5e5;
  font-family: "Noto Sans JP";
  font-weight: 600;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

p {
  color: #e5e5e5;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @media (min-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navbar {
  background: var(--secondary-color);
  padding: 1.5rem 0;

  .navbar-brand {
    display: inline-block;
  }

  .navbar-menu {
    float: right;
  }

  h1 {
    font-size: 1rem;
    margin: 0;
  }
}

.weather-description {
  background-color: var(--secondary-color);
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  color: white;
  place-items: center;
  border-radius: 8px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  font-size: 2rem;

  h2 {
    margin: 0;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  --gridRowGap: 24px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.about {
  padding-top: 3rem;
}